@media (max-width: 768px) {

  #menuToggle {
    display: block;
  }

  .nav ul {
    position: absolute;
    top: 70px;
    right: 0;
    background: var(--card-bg);
    flex-direction: column;
    width: 220px;
    padding: 1rem;
    display: none;
    box-shadow: var(--shadow);
  }

  .nav ul.active {
    display: flex;
  }

}

@media (max-width: 768px) {

  .galeria {
    column-count: 1;
  }

  .tabla table,
.tabla tbody,
.tabla th,
.tabla td,
.tabla tr {
  display: block;
}

/* 🔥 ocultar encabezado correctamente */
.tabla thead {
  display: none;
}

  .tabla tr {
    margin-bottom: 1rem;
    box-shadow: var(--shadow);
  }

  .tabla td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .tabla td::before {
    position: absolute;
    left: 1rem;
    font-weight: bold;
  }

  .tabla td:nth-child(1)::before { content: "Destino"; }
  .tabla td:nth-child(2)::before { content: "Categoría"; }
  .tabla td:nth-child(3)::before { content: "Precio"; }
}

@media (max-width: 768px) {
  .flip-inner {
    height: 260px;
  }
}

@media (max-width: 768px) {
  .formulario {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  .tabla-precios,
  .tabla-precios thead,
  .tabla-precios tbody,
  .tabla-precios th,
  .tabla-precios td,
  .tabla-precios tr {
    display: block;
  }

  .tabla-precios thead {
    display: none;
  }

  .tabla-precios tr {
    margin-bottom: 1rem;
    box-shadow: var(--shadow);
  }

  .tabla-precios td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .tabla-precios td::before {
    position: absolute;
    left: 1rem;
    font-weight: bold;
  }

  .tabla-precios td:nth-child(1)::before { content: "Destino"; }
  .tabla-precios td:nth-child(2)::before { content: "Duración"; }
  .tabla-precios td:nth-child(3)::before { content: "Precio"; }
  .tabla-precios td:nth-child(4)::before { content: "Incluye"; }
}